$blue: #335c67;
$warm: #fff3b0;
$orange: #e09f3e;
$red: #9e2a2b;
$dark-red: #540b0e;
$white: #ffffff;
$black: #000000;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
$ff: "Josefin Sans", sans-serif;
